<!DOCTYPE html>
<html lang="en" ng-app="ValidationApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Form Validation</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index2.css">
</head>
<body ng-cloak ng-controller="ValidationCtrl as ctrl">

<div class="jumbotro jumbostyle">
    <h2 class="display-3"> <b>Full Stack Foundation First Assessment </b></h2>
    <img src="registrationform.jpg" width=80%>
</div>

<div class="container">
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" class="form-control"
                   ng-model="ctrl.name" required>
            <div class="help-block"
                 ng-show="validateForm.name.$invalid && validateForm.name.$error.required">
            </div>
        </div>

        <!--<div class="form-group>
            <label>Gender:</label>
            <div class="radio-inline">
                <label for="gender-male">
                    <input type="radio" name="gender" id="gender-male" value="male" ng-model="ctrl.gender"> Male
                </label>
            </div>

            <div class="radio-inline">
                <label for="gender-female">
                    <input type="radio" name="gender" id="gender-female" value="female" ng-model="ctrl.gender">
                    Female
                </label>
            </div>
        </div>-->


        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" id="address" name="address" class="form-control"
                   ng-model="ctrl.address" required>
            <div class="help-block"
                 ng-show="validateForm.address.$invalid && validateForm.address.$error.required">
            </div>
        </div>

        <div class="form-group">
            <label for="country">Country :</label>
            <input type="text" id="country" name="country" class="form-control"
                   ng-model="ctrl.country" required>
            <div class="help-block"
                 ng-show="validateForm.country.$invalid && validateForm.country.$error.required">
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control"
                   ng-model="ctrl.email" required>
            <div class="help-block"
                 ng-show="validateForm.email.$error.email">
                <p class="error-message">Invalid email.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.email.$error.required">
            </div>
        </div>

        <div class="form-group">
            <label for="contact">Contact :</label>
            <input type="number" id="contact" name="contact" class="form-control"
                   ng-model="ctrl.contact" required>
            <div class="help-block"
                 ng-show="validateForm.contact.$error.contact">
                <p class="error-message">Invalid contact.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.contact.$error.required">
            </div>
        </div>

        <div class="form-group">
            <label for="dob">Date of Birth :</label>
            <input type="date" id="dob" name="dob" class="form-control"
                   ng-model="ctrl.dob" required>
            <div class="help-block"
                 ng-show="validateForm.dob.$error.dob">
                <p class="error-message">Too young.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.dob.$error.required">
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" class="form-control"
                   ng-model="ctrl.password" required>
            <div class="help-block"
                 ng-show="validateForm.password.$invalid && validateForm.password.$error.required">
            </div>
        </div>

<div class="form-group">
    <button type="submit" class="btn-success form-control"
            ng-disabled="validateForm.$invalid">Register
    </button>
</div>
        <br>
        <p class="footer_style"> <i>Note: All fields are mandatory for registration</i></p>

<div class="alert result_style" role="alert" alert-dismissable ng-show="ctrl.status.code"
     ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
    <button class="close" data-dismiss="alert">x</button>
    {{ctrl.status.message}}
</div>

</form>

</div>
</body>
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/angular/angular.js"></script>
<script type="text/javascript" src="index2.js"></script>


</html>

