.jumbostyle{
    text-align: center;
}

input.ng-valid {
    background-color: darkseagreen;
    border: 1px solid black;
}

input.ng-invalid.ng-dirty {
    background-color: pink;
}
.error-message {
    color: red;
}

.footer_style{
    color: red;
    text-align: right;
}

.result_style{
    color: dodgerblue;
    text-align: center;
    font-size: xx-large;
}